body {
  font-family: "Poppins", sans-serif;
  padding: 0px;
}

/*-----------------------------------Header------------------------------------*/
.logo {
  background-color: white;
  display: block;
  max-width:100%;
  max-height:50%;
}

.imglogo{
  width: 20%;
  margin: 0 0 0 37%;
  padding: 2% 2.5% 2% 2.5%;
}

* {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
}

/*-----------------------------------Body--------------------------------------*/
main {
  margin: auto;
  display: flex;
}
#container {
  display: inline;
  width: 100vw;
  height:  100vh;
}

.Titel{
  background-color: rgb(228, 6, 19);
  padding: 2% 0 0% 0;
  color: white;
  text-align: center;
  font-size: 18px;
}

.searchbalk{
  display: block;
  width: 92%;
  height: 4%;
  float: right;
  padding-left: 4%;
  border-radius: 5%;
}

.likesFilterDiv{
  display: block;
  width: 90%;
  padding: 16% 5% 8% 0%;
  text-align: right;
}

.checkbox{
  font-size: 2rem;
}

.filterdiv{
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
  background-color: #1bbcb6;
}

.titelfilter{
  background-color: #1bbcb6;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
}

.newsdiv{
  display: inline-block;
  width: 75%;
  margin: 0%;
  padding: 0%;
}

.sectionVerdeling{
  display: inline-block;
}

.imageDiv{
  display: inline-block;
  float: left;
  width: 35%;
  max-height: 100%;
  padding: 4% 2% 4% 2%;
}



@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.likes{
  display: inline-block;
  float: left;
  width: 55%;
  padding: 5% 5% 5% 40%;
}

.plikes{
  float: left;
  max-width: 30%;
  padding-left: 5%;
}

.textDiv{
  display: inline-block;
  width: 59%;
  padding: 2% 2% 2% 0% ;
}

.titelArtikel{
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: 2em;
}